:root {
    --branco: #ffff;
    --gelo: #f1f1f1;
    --verde: #19c463;
    --preto: #2a2a2a;
}

.prod-detail {
    background: #fff;
    width: 100%;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.prod-detail img {
    max-width: 400px;
    height: 300px;
}

.buttons-top {
    display: flex;
    width: 100%;
    position: absolute;
    top: 20px;
    justify-content: space-between;
    align-items: center;
}

.buttons-top a {
    width: 40px;
    height: 40px;
    background-color: var(--branco);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--preto);
    border: 1px solid var(--gelo);
    font-size: 18px;
}

.buttons-top a:first-child {
    margin-left: 20px;
    margin-right: auto;
}

.buttons-top a:last-child {
    margin-right: 20px;
    margin-left: 5px;
}

.prod-content {
    margin-top: -50px;
    background: var(--branco);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    position: relative;
    z-index: 99;
}

.line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
}

.line b {
    font-size: 20px;
}

.share-btn {
    width: 30%;
    background: #0056b3;
    border-radius: 8px;
    border: none;
    padding: 10px;
    color: var(--branco);
}
#descricao-detalhe {
    padding-bottom: 160px;
}
.btn-rates {
    border: 1px solid #cbcbcb;
    border-radius: 20px;
    padding: 5px 10px;
    background: none;
    margin-right: 5px;
    margin-top: 20px;
    width: 80px;
    font-size: 16px;
}

.ri-thumb-up-fill {
    color: var(--verde);
}

.color-gray {
    color: gray;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th,
td {
    padding: 10px 5px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

th {
    background-color: #ebebeb;
}

.flex-40 {
    flex: 40%;
}

.flex-60 {
    flex: 60%;
}

.riscado {
    text-decoration: line-through;
}

.princing {
    font-weight: 800;
    font-size: 22px;
}

.add-cart {
    width: 90%;
    height: 50px;
    border-radius: 15px;
    border: none;
    background-color: var(--verde);
    color: var(--branco);
    cursor: pointer;
    font-size: 18px;
    font-weight: 800;
}
.container-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-share {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
}

.header {
    margin-bottom: 20px;
}

.qr-section {
    margin-bottom: 20px;
}

.qr-section canvas {
    height: auto;
    margin-bottom: 10px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.buttons button {
    background-color: #007aff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 48%;
}

.transaction-history button {
    background-color: white;
    color: #007aff;
    border: 1px solid #007aff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.link-list {
  list-style: none;
  padding: 0;
}

.link-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  overflow: hidden;
}

.link-list-item h3 {
  margin: 0;
  font-size: 16px;
}

.link-list-item p {
  margin: 0;
  font-size: 14px;
  color: #666;
}

.link-list-item .mdi {
  font-size: 24px;
  color: #007bff;
  cursor: pointer;
}

button:focus {
    outline: none;
}

.share-btn {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #007bff;
}

.share-btn:hover {
    color: #0056b3;
}
